<!--头部-->
<div ng-include="'templates/layout/top.html'"></div>
<!--头部结束-->
<style>
	body {
		font-family: "Microsoft YaHei", "微软雅黑" !important;
	
	}
.banner_top{
    height: 385px;
    margin-top: 90px;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
}

.img_one {
    width: 1920px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}
   .banner img{ display: inline-block; width: 100%; height: 100%;}
    .con_txt{
        width: 1200px;
        height: 226px;
        margin: 0 auto;
        margin-top: 49px;
    }
    .txt_img{
        width:909px;
        height: 265px;
        margin: 0 auto;
    }
    .txt_img img{
        display: inline-block;
        margin-top: 34px;
    }
    .liucheng{
        width: 1007px;
        height: 380px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .liucheng ul{
        height: 190px;
        text-align: center;
    }
    .liucheng li{
        float: left;
        text-align: center;
    }
    .continueInvest1{
    	background: url(resource/images/activity_new/continueInvest1.jpg) no-repeat center center;
    	height:600px;
    	
    }
    .continueInvest2{
    	background: url(resource/images/activity_new/continueInvest2.jpg) no-repeat center center;
    	height:300px;	
    }
    .continueInvestBg{
    	background: #F25D3D;
    	min-height: 500px;
    }
    .continueInvestBg .newContent{
    	background: #FFCA49;
    	width: 1200px;
    	margin: 0px auto;
    	padding: 80px 100px;
    	border-radius: 40px;
    	min-height: 1000px;
    	color: #323333;
    	font-size: 30px;
    	
    }
    .continueInvestBg .newContent p{
    	text-indent: 2em;
    	padding: 0px;
    	margin: 0px;
    	line-height: 45px;
    	
    }
</style>
<div class="continueInvest1">
	
</div>
<div class="continueInvestBg">
	 <div class="newContent">
	 	尊敬的泊洋亲友：<br>
您好！<br>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;泊洋金融于2017年12月12日正式上线！

			<!--泊洋金融（www.boyangjr.com）的运营主体为宁波泊洋互联网科技有限公司，注册资金5000万元，是一家致力于为企业和个人提供投融资服务的网络借贷信息中介平台。泊洋金融股东背景雄厚，拥有广泛的行业资源与立体化服务生态体系，在金泊洋资、财会审计、资产管理等领域的专业优势与综合实力，以及在互联网金融生态圈的深度研究和实践，凭借管理、技术和运营团队对金融科技领域多年的经验和完善的风控管理水平，致力打造专业专注、稳健发展、阳光高效的互联网金融平台。-->
			<!--为庆祝平台上线，泊洋金融将同步推出一系列投资有礼活动，详情请关注泊洋金融官网公告，欢迎广大投资人积极参与！-->
			<!--感谢您对泊洋金融的关注与支持！-->
			不管您是投资者还是借款者，只需登录泊洋金融网络平台（www.boyangjr.com)并点击注册，即可轻松获赠666元奖励！泊洋金融将为您提供订制的专业金融服务。<br/>
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;泊洋金融（www.boyangjr.com）的运营主体为杭州泊洋互联网科技有限公司，注册资金5000万元，是一家致力于为企业和个人提供投融资服务的网络借贷信息中介平台。泊洋金融股东背景雄厚，拥有广泛的行业资源与立体化服务生态体系，在金泊洋资、财会审计、资产管理等领域的专业优势与综合实力，以及在互联网金融生态圈的深度研究和实践，凭借管理、技术和运营团队对金融科技领域多年的经验和完善的风控管理水平，致力打造专业专注、稳健发展、阳光高效的互联网金融平台。<br/>
		 &nbsp;&nbsp;&nbsp;&nbsp;如有任何疑问，加入QQ群：147154836 或者客服电话0574-88163772进行咨询。

		</p>
	 </div>
</div>
<div class="continueInvest2">
	
</div>

<!--尾部-->
<div ng-include="'templates/layout/bottom.html'"></div>
<!--尾部结束-->