<!--头部-->
<div ng-include="'templates/layout/top.html'"></div>
<!--头部结束-->
<style>
	body {
		font-family: "Microsoft YaHei", "微软雅黑" !important;
	
	}

    .inviteFriendBanner1{
    	background: url(resource/images/activity_new/inviteFriendBanner1.jpg) no-repeat center center;
    	height:500px;
    	
    }
    .inviteFriendBanner2{
    	background: url(resource/images/activity_new/inviteFriendBanner2.jpg) no-repeat center center;
    	height:428px;	
    }
     .inviteFriendBanner3{
    	background: url(resource/images/activity_new/inviteFriendBanner3.jpg) no-repeat center center;
    	height:390px;	
    }
    .inviteFriendBanner4{
    	background: url(resource/images/activity_new/inviteFriendBanner4.jpg) no-repeat center center;
    	height:410px;	
    }
    .inviteFriendBanner5{
    	background: url(resource/images/activity_new/inviteFriendBanner5.jpg) no-repeat center center;
    	height:400px;	
    }
     .inviteFriendBanner6{
    	background: url(resource/images/activity_new/inviteFriendBanner6.jpg) no-repeat center center;
    	height:410px;	
    }
    .newGuestWelfare5{
    	background:#F9EC83;
    	height:254px;	
    }
     .inviteFriendBanner7{
     	display: none;
    	background:#fff;
    	height:294px;	
    }
    .jumpBtn{
    	width: 100%;
    	display: inline-block;
    	margin-top: 0px;
    	
    }
    .jumpBtn a{
    	width: 175px;
    	height: 175px;
    	margin: 0px auto;
    	text-align: center;
    	line-height: 50px;
    	padding-top: 35px;
    	background: #5781EA;
    	cursor: pointer;
    	font-size: 36px;
    	color: #fff;
    	display: block;
    	border-radius: 100%;
    }
</style>
<div class="inviteFriendBanner1">
	
</div>
<div class="inviteFriendBanner2">
	
</div>
<div class="inviteFriendBanner3">
	
</div>
<div class="inviteFriendBanner4">

</div>
<div class="inviteFriendBanner5">

</div>
<div class="inviteFriendBanner6">

</div>
<div class="inviteFriendBanner7">
	<div class="jumpBtn">
		<a href="/user/userInvite">邀请<br>好友</a>
	</div>
</div>

<!--尾部-->
<div ng-include="'templates/layout/bottom.html'"></div>
<!--尾部结束-->