<!--头部-->
<div ng-include="'templates/layout/top.html'"></div>
<!--头部结束-->
<style>
	body {
		font-family: "Microsoft YaHei", "微软雅黑" !important;
	
	}
.banner_top{
    height: 385px;
    margin-top: 90px;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
}

.img_one {
    width: 1920px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}
   .banner img{ display: inline-block; width: 100%; height: 100%;}
    .con_txt{
        width: 1200px;
        height: 226px;
        margin: 0 auto;
        margin-top: 49px;
    }
    .txt_img{
        width:909px;
        height: 265px;
        margin: 0 auto;
    }
    .txt_img img{
        display: inline-block;
        margin-top: 34px;
    }
    .liucheng{
        width: 1007px;
        height: 380px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .liucheng ul{
        height: 190px;
        text-align: center;
    }
    .liucheng li{
        float: left;
        text-align: center;
    }
    .onlineMarking1{
    	background: url(resource/images/activity_new/onlineMarking1.png) no-repeat center center;
    	height:500px;
    	
    }
    .onlineMarking2{
    	background: url(resource/images/activity_new/onlineMarking2.jpg) no-repeat center center;
    	height:635px;	
    }
     .onlineMarking3{
    	background: url(resource/images/activity_new/onlineMarking3.jpg) no-repeat center center;
    	height:620px;	
    }
    .onlineMarking4{
    	background: url(resource/images/activity_new/onlineMarking4.jpg) no-repeat center center;
    	height:455px;	
    }
    .jumpBtn{
    	width: 100%;
    	
    	display: inline-block;
    	margin-top: 100px;
    	
    }
    .jumpBtn a{
    	width: 175px;
    	height: 175px;
    	margin: 0px auto;
    	text-align: center;
    	line-height: 50px;
    	padding-top: 35px;
    	background: #F58748;
    	cursor: pointer;
    	font-size: 36px;
    	color: #fff;
    	display: block;
    	border-radius: 100%;
    }
</style>
<div class="onlineMarking1">
	
</div>
<div class="onlineMarking2">
	
</div>
<div class="onlineMarking3">
	
</div>
<div class="onlineMarking4">
	<div class="jumpBtn">
		<a href="/investment">立即<br>投资</a>
	</div>
</div>

<!--尾部-->
<div ng-include="'templates/layout/bottom.html'"></div>
<!--尾部结束-->