<div ng-include="'templates/layout/top.html'"></div>
<style type="text/css">
    body {
        font-family: "Microsoft YaHei", "微软雅黑" !important;
        background-color: #FFFFFF;
    }
   
    li a {
        cursor: pointer;
    }
    .container{
        margin-top: 20px;
        background: #fff;
         min-height: 700px;
        margin-bottom: 30px;
    }
    .newContent{
    	margin: 25px 70px;
    	font-size: 14px;
    }
    
    .newContent h3{
    	text-align: center;
    	font-size: 22px;
    	color: #5d5d5d;
    	position: relative;
    }
    
    .newContent .date{
    	text-align: center;
    	font-size: 14px;
    	color: #5d5d5d;
    	display: inline-block;
    	width: 100%;
    	
    }
   .newContent h3 .spanTitle{
    	display: inline-block;
    	width: 800px;
    	margin: 0px auto;
    	line-height: 150%;
    }
    .newContent h3 .spanBack{
    	display: inline-block;
    	color: #df0707;
    	font-size: 16px;
    	position: absolute;
    	right: 40px;
    	top: 3px;
    }
    .newContent h3 .spanBack a{
    	
    	height: 26px;
    	width: 26px;
    	display: inline-block;
    }
    .newContent h3 .spanBack a img{
    
    	height: 26px;
    	width: 26px;
    	display: inline-block;
    }
</style>
<!--<script>
    $(function () {
        $('#li7').addClass("active-li");
    })

</script>-->
<div class="container" style="width: 1200px;overflow:hidden;">
	<div class="newContent">
			<h3><span ng-bind-html="News.title | DHtml" class="spanTitle"></span><span class="spanBack"><a href="/platformMessage?page=2"><img src="../../resource/images/user/newsClose.png"></a></span></h3><br/>
			
		<span class="date">{{News.updatedTime | newDate:'yyyy-MM-dd HH:mm:ss'}}</span>
			<br/>
			<br/>
			<div ng-bind-html="News.content | DHtml">

			</div>
	</div>

	<!--<div class="col-md-9">
        <div id="page1">
            <div class="col-md-12">
                <br/>
                <center><h3><span ng-bind-html="News[1].title | DHtml"></span></h3></center><br/>
                <center><span style="font-family: 新宋体">浏览次数：{{News[1].hits}}次&nbsp&nbsp日期：{{News[1].created_time | date:'yyyy-MM-dd'}}</span>
                </center>
                <br/>
                <br/>
                <div ng-bind-html="News[1].content | DHtml">

                 </div>
                <br/>
                <br/>
                <br/>
                <DIV style="BORDER-TOP: #ccc 1px dashed; OVERFLOW: hidden; HEIGHT: 1px"></DIV>
                <div>
                    <br>
                    <span ng-show="News[0].length==2">
                    <font>上一篇：</font><a style="color: #007AF4"
                                        href="/news/{{News[0][0].id}}">{{News[0][0].title}}</a><br><br>
                   <font>下一篇：</font><a style="color: #007AF4" href="/news/{{News[0][1].id}}">{{News[0][1].title}}</a>
                        </span>
                     <span ng-show="News[0].length==1&&News[0][0].page==2">
                    <font>下一篇：</font><a style="color: #007AF4"
                                        href="/news/{{News[0][0].id}}">{{News[0][0].title}}</a><br><br>
                     </span>
                     <span ng-show="News[0].length==1&&News[0][0].page==1">
                    <font>上一篇：</font><a style="color: #007AF4"
                                        href="/news/{{News[0][0].id}}">{{News[0][0].title}}</a><br><br>
                     </span>

                </div>
            </div>
        </div>
</div>-->
</div>
<br/>
<div ng-include="'templates/layout/bottom.html'"></div>