<link rel="stylesheet" href="resource/css/page.css">
<link rel="stylesheet" href="resource/css/tradeRecord.css">
<div>
	<!--头部-->
	<div ng-include="'templates/layout/top.html'"></div>
	<!--头部结束-->
	<div class="center-container" style="background-color: #ffffff;min-height: 650px;">
		<div ng-include="'templates/layout/userLeft.html'"></div>
		<div class="fr">
			<div class="tradeRecordsTop">
				<table cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<th>累计投资总额（元）</th>
						<th>已收本金（元）</th>
						<th>代收本金（元）</th>
						<th>已收利息（元）</th>
						<th>代收利息（元）</th>
					</tr>
					<tr>
						<td>135419</td>
						<td>95343</td>
						<td>40075</td>
						<td style="color: #ff0000;">1636.78</td>
						<td style="color: #ff0000;">1636.78</td>
					</tr>
				</table>
			</div>
			<div class="recordQuer">
				<div class="input-group quer" style="float: left;">
					<input type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" class="serch_new" ng-model="nodejs.createdTime" />
				</div>
				<div class="input-group quer" style="float: left;">
					<input type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" class="serch_new" ng-model="nodejs.endTime" />
				</div>
				<div class="input-group quer" style="float: left;">
					<button class="search_buttun" type="button" ng-click="selectPage(1)">
           查询
        </button>
				</div>
			</div>
            <div class="recordData">
            	<table cellpadding="0" cellspacing="0" width="100%">
            		<tr>
						<th>日期</th>
						<th>项目名称</th>
						<th>年化利率</th>
						<th>期限</th>
						<th>投资金额（元）</th>
						<th>抵扣红包（元）</th>
						<th>加息利率（%）</th>
					</tr>
					<tr>
						<td>2017-9-27 23:43:31</td>
						<td>一秒来财</td>
						<td>12.00%</td>
						<td>一个月</td>
						<td>2090.00</td>
						<td>10.00</td>
						<td>0</td>
					</tr>
					<tr>
						<td>2017-9-27 23:43:31</td>
						<td>一秒来财</td>
						<td>12.00%</td>
						<td>一个月</td>
						<td>2090.00</td>
						<td>10.00</td>
						<td>0</td>
					</tr>
					<tr>
						<td>2017-9-27 23:43:31</td>
						<td>一秒来财</td>
						<td>12.00%</td>
						<td>一个月</td>
						<td>2090.00</td>
						<td>10.00</td>
						<td>0</td>
					</tr>
					<tr>
						<td>2017-9-27 23:43:31</td>
						<td>一秒来财</td>
						<td>12.00%</td>
						<td>一个月</td>
						<td>2090.00</td>
						<td>10.00</td>
						<td>0</td>
					</tr>
					<tr>
						<td>2017-9-27 23:43:31</td>
						<td>一秒来财</td>
						<td>12.00%</td>
						<td>一个月</td>
						<td>2090.00</td>
						<td>10.00</td>
						<td>0</td>
					</tr>
					<tr>
						<td>2017-9-27 23:43:31</td>
						<td>一秒来财</td>
						<td>12.00%</td>
						<td>一个月</td>
						<td>2090.00</td>
						<td>10.00</td>
						<td>0</td>
					</tr>
					<tr>
						<td>2017-9-27 23:43:31</td>
						<td>一秒来财</td>
						<td>12.00%</td>
						<td>一个月</td>
						<td>2090.00</td>
						<td>10.00</td>
						<td>0</td>
					</tr>
					<tr>
						<td>2017-9-27 23:43:31</td>
						<td>一秒来财</td>
						<td>12.00%</td>
						<td>一个月</td>
						<td>2090.00</td>
						<td>10.00</td>
						<td>0</td>
					</tr>
            		</table>
            </div>
			<!--<div id="template_pagination">
				<table class="table-yyyy" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<th class="t1" style="background-color: #36abde;width: 80px">序号</th>
							<th class="t1" style="background-color: #36abde;width: 100px">交易类别</th>
							<th class="t1" style="background-color: #36abde;width: 230px">交易名称</th>
							<th class="t1" style="background-color: #36abde;width: 80px">金额/利率</th>
							<th class="t1" style="background-color: #36abde;width: 160px">时间</th>
						</tr>
						<tr ng-repeat="tradeRecord in itemList">
							<td height="34" align="center">{{startIndex+$index}}</td>
							<td align="center">{{tradeRecord.type | TradeType}}</td>
							<td align="center">{{tradeRecord.remark}}</td>
							<td ng-hide="(tradeRecord.type==130 || tradeRecord.type==330 || tradeRecord.type==830)" align="center">
								{{tradeRecord.money | PointToYuan}} 元
							</td>
							<td ng-show="(tradeRecord.type==130 || tradeRecord.type==330 || tradeRecord.type==830)" align="center">
								{{tradeRecord.money | PointToYuan}}%
							</td>
							<td align="center">{{tradeRecord.createdTime | date:'yyyy-MM-dd &nbsp HH:mm:ss'}}</td>
						</tr>
					</tbody>
				</table>
			</div>-->
			<div style="overflow: hidden;margin-top: 10px; margin: auto; text-align: center;" ng-if="totalPages>1">
				<nav>
					<ul id="pagination" class="pagination pagination-sm" style="">
						<li id="firstPage"><span ng-click="selectPage(1)" aria-hidden="true">首页</span></li>
						<li id="Previous"><span ng-click="selectPage(nowPage-1)" aria-hidden="true">«</span></li>
						<li ng-repeat="page in pages" ng-class="{true:'active'}[page.showNumber==nowPage]">
							<a ng-click="selectPage(page.showNumber)">{{page.showNumber}}</a>
						</li>
						<li ng-show="isShowDot">
							<a ng-click="selectPage(nowPage+6)">……</a>
						</li>
						<li id="Next">
							<a ng-click="selectPage(nowPage+1)" aria-label="Next"><span aria-hidden="true">»</span></a>
						</li>
						<li id="lastPage">
							<a ng-click="selectPage(totalPages)"><span aria-hidden="true">尾页</span></a>
						</li>
					</ul>
				</nav>
			</div>

		</div>
		<!--fr end-->
	</div>
	<!--尾部-->
	<div>
		<div ng-include="'templates/layout/bottom.html'"></div>
	</div>
	<!--尾部结束-->
</div>