.index-carousel {height: 350px;overflow: hidden;}
.carousel {position: relative;width: 100%;margin: 0 auto;height: 350px;}
.carousel .carousel-img {position: absolute;top: 0;width: 100%;height: 350px;margin: auto;}
.carousel .fade {opacity: 0;-webkit-transition: opacity .95s linear;-o-transition: opacity .95s linear;transition: opacity .95s linear;}
.carousel .fade {*display: none;}
.carousel .fade.active {opacity: 1;-webkit-transition: opacity .95s linear;-o-transition: opacity .95s linear;transition: opacity .95s linear;}
.carousel .fade.active {*display: block;}
.carousel .cr-tab {border-radius: 20px;margin-left: 5px;z-index: 200;display: inline-block;width: 15px;height: 15px;background-color: rgba(0, 0, 0, 0.7);cursor: pointer;}
.carousel .cr-tab {*background-color: #666;}
.carousel .cr-tab.active {background-color: #36abde;}
.carousel .carousel-tab {position: absolute;top:310px;}