@charset "utf-8";
/* CSS Document */
.xm_a{height:33px; float:left; color:#95b3d7; line-height:33px; font-size:16px; font-weight:bold;}
.xm_a a{ color:#95b3d7; font-size:16px;}
.xm_a3{padding-left:60px;}
.xm_a4{padding-left:60px;}

.fw{ font-size:18px; color:#d8c26a; font-weight:bold;  padding-top:18px;