* {
	font-family: '微软雅黑';
}

.userSafeCenter {
	width: 1020px;
	margin: 0px auto;
	overflow: hidden;
}

.safeGrade{
	font-size: 16px;
	margin-bottom: 65px;
	width: 100%;
}
.safeGrade span{
	float: left;
	margin-right: 25px;
}

.safeProgressBg {
    display: inline-block;
    height: 10px;
    width: 605px;
    text-align: left;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #E2E2E2;
    float: left;
    margin-top: 6px;
    
}

.safeProgressNow {
    height: 10px;
    border-radius: 5px;
    background-color: #DF0909;
    position: relative;
}

.safeGrade .grade{
	float: right;
	color: #df0707;
	font-size: 14px;
}

.safeCenterDiv{
	width: 100%;
}

.safeCenterDiv ul{
	padding: 0px;
	margin: 0px;
}

.safeCenterDiv li{
	    width: 100%;
    border-bottom: 1px solid #ebebeb;
    line-height: 75px;
    overflow: hidden;
}
.safeCenterDiv li .liTitle{
	 margin: 0px 40px;
}
.safeCenterDiv li img {
    margin: -2px 5px 0 0px;
    vertical-align: middle;
}

.safeCenterDiv li span {
    font-size: 16px;
    width: 132px;
    display: inline-block;
}

.safeCenterDiv li strong {
    font-weight: normal;
    color: #999;
    font-size: 14px;
}

.safeCenterDiv  li a {
    display: block;
    float: right;
    color: #df0707;
    font-size:14px;
}

.modifyPassword{
	width: 450px;
	margin: 0px auto;
	/*display: none;*/
}
.inputGroupWrap{
	width: 334px;
	margin: 0px auto;
}
.inputGroup{
	margin-bottom: 15px;
	border: 1px solid #FE4C58;
	border-radius: 5px;
	position: relative;
}

.inputGroup span{
    display: inline-block;
    height: 45px;
    width: 45px;
    position: absolute;
    /*top: 1px;
    left: 1px;*/
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   
   }
   
.safeCenterDiv li .span1{
	 background: url(../images/user/password.png) no-repeat center center #FE4C58;
	  height: 45px;
    width: 45px;
}

.passwordInput{
	display: block;
    width: 98%;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background: transparent;
    height: 45px;
    border: 0px;
    text-indent: 60px;
    /*border: 1px solid #ededed;
    margin-bottom: 15px;
    
    border-radius: 4px;
    -webkit-border-radius: 4px;*/
}
.verifyCodeBg{
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
}
.verifyCode{
	float: left;
    width: 210px;
    display: block;
    font-size: 14px;
    line-height: 1.428571429;
    height: 45px;
    color: #555;
    vertical-align: middle;
   
    background-image: none;
   
}

.verifyCode input{
	 background-color: #fff;
	 width: 100%;
	  border: 1px solid #ededed;
    text-indent: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	line-height: 1.428571429;
    height: 45px;
    vertical-align: middle;
   
}

.verifyImg{
	 float: right;
	 width: 106px;
	 height: 45px;
}

.safeCenterDiv li .verifyImg img{
	padding: 0px;
	margin: 0px;
	width: 106px;
	 height: 45px;
	 vertical-align: top;
	 border: 0px;
}

.phoneCodeBg
     {
     	position: relative;
     }
     
.phoneCode{
	
	border: 1px solid #FE4C58;
	width: 210px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 15px;
}

.phoneCode span{
    display: inline-block;
    height: 45px;
    width: 45px;
    position: absolute;
    /*top: 1px;
    left: 1px;*/
    border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   }
   
.safeCenterDiv li .span2{
	 background: url(../images/user/phone.png) no-repeat center center #FE4C58;
	  height: 45px;
    width: 45px;
}

.safeCenterDiv li .span3{
	 background: url(../images/user/userIcon.png) no-repeat center center #FE4C58;
	  height: 45px;
    width: 45px;
}


     .phoneCode input{
     	
     	display: block;
    width: 98%;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background: transparent;
    height: 45px;
    border: 0px;
    text-indent: 60px;
     	
     }
     .verifySms{
     	 position: absolute;
        top: 0px;
        right: 0px;
        width: 100px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background: #FE4C58;
        border-radius: 5px;
        font-size: 16px;
        color: #fff;
     }
     
   .safeCenterDiv  .verifySms a{
     	 
        width: 100px;
        height: 45px;
        line-height: 45px;
        text-align: center;
       display: inline-block;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
     }
 
.passwordBtn{
	/*width: 228px;*/
	margin: 35px auto 45px auto;
	height: 45px;
	text-align:center;
	line-height: 45px;
	color: #fff;
	font-size: 16px;
	background: #FE4C58;
	border-radius: 5px;
	

}

.safeCenterDiv li.active{
	border-top:3px solid #FE4C58;
}


/*保存银行卡*/
.submitBank{
	width: 100%;
}
.submitBank ul{
	padding: 0;
	margin: 0;
}
.submitBank li{
	border: 0px;
}
.formBank{
	width: 100%;
	margin: 0px auto;
	margin-top: 5px;
}

.submitBank .input-group{
	margin-bottom: 23px;
	
}
.inputGroupAddon{
	width: 90px;
	text-align: right;
	margin-right: 30px;
	display: inline-block;
	float: left;
	height: 34px;
	line-height: 34px;
	color: #333;
	font-size: 16px;
}
.noControl{
	border: 0;
	height: 34px;
	line-height: 34px;
	background: #fff;
	color: #686868;
	font-size: 14px;
	font-family: "微软雅黑";
	width: 280px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    padding: 0px;
   font-size: 14px;
    width: 280px;
    margin-bottom: 0;
    padding-left: 10px;
    color: #b5b5b5;
}

.submitBankBtn{
	width: 280px;
	height: 45px;
	line-height: 45px;
	background: #FE4C58;
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin: 15px 0 50px 162px;
	border-radius: 5px;
}
