<style>
	body {
		font-family: "Microsoft YaHei", "微软雅黑" !important;
	
	}
   	.invitFriend{
    padding: 0px;
    width: 100%;
    margin: 0px;
    position: relative;
		
	}
	.invitFriend img {
		vertical-align: top;
		padding: 0px;
		margin: 0px;
		width: 100%;
		border: none;
		height: auto;
		display: block;
	}
</style>
<div class="invitFriend">
	<img src="resource/images/appWeb/invitFriend1.jpg"/>
	<img src="resource/images/appWeb/invitFriend2.jpg"/>
	<img src="resource/images/appWeb/invitFriend3.jpg"/>
	<img src="resource/images/appWeb/invitFriend4.jpg"/>
</div>