<link rel="stylesheet" href="resource/css/about.css" type="text/css">
<!--头部-->

<div ng-include="'templates/layout/top.html'"></div>

<!--头部结束-->

<div ng-cloak>
<!--<div class="bannerDiv" ></div>-->
	<div class="banner">
		<!--<img class="banner_img" src="resource/images/about/bybanner.png">-->
	</div>
<div class="aboutContentBg">
	  <div class="aboutContent">
	  	   <div class="aboutData">
	  	   	      <div class="aboutDataTop">
	  	   	    </div>
	  	   	    <div class="aboutDataCon">
					<div class="aboutDataCon1">
						<p style="color:#323333;font-size:20px ;line-height:50px;margin-top:20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;365储蓄家是由杭州昊隆互联网科技有限公司独立运营开发的互联网金融信息中介平台，实缴注册资金五千万。旨在为广大投资者提供专业、高效、安全、便捷的互联网金融理财服务。平台秉承安全、稳健、透明、合规的经营理念致力于汽车消费金融和优质供应链金融产品两大领域。平台拥有自己的独立的技术开发团队，凝聚了一批具有丰富金融管理、风险控制、法务安全、汽车行销的资深人士，以健全的风险管控体系为基础，同时通过优质服务与产业模式创新，提升投资效率，优化金融资产配置，以发展践行普惠金融为愿景。

						</p>

					</div>
	  	   	    </div>
	  	   </div>
	  </div>
	<div class="aboutDataBottom"></div>
	<div class="aboutContent">
		<div class="aboutData">
			<div class="aboutDataTop1">
			</div>
			<div class="aboutDataCon">
				<div class="aboutDataCon1">
					<div class="person" ></div>
					<p class="personIntr" style="font-size:18px;">
						<span class="nameStyle">王仁龙 : 创始人/董事长 </span><br/>365储蓄家发起人及创始人，在实体股权投资、汽车消费金融等领域深耕多年，积累了丰厚的资本，得益于多年的股权投融资经验，对于资产管理及投资管理有深刻的理解；也积累了投资管理和丰富的人脉资源和经验。对于互联网金融行业发展态势有较强的格局认知，主要负责风险控制、合作、提供发展规划、组织结构、业务模式以及企业文化、品牌、管理等综合系统性工作。

					</p>

				</div>
			</div>
		</div>
	</div>
	<div class="aboutContent">
		<div class="aboutData">
			<div class="aboutDataCon">
				<div class="aboutDataCon1">
					<div class="person2" ></div>

					<p class="personIntr" style="font-size:18px;">
					<span class="nameStyle">张营：首席运营官COO</span><br/>365储蓄家首席运营官，资深互联网金融从业者，对线上、线下运营推广有独到的见解，具备互联网金融领域的全局统筹视野和严谨的思维逻辑，善于结合丰富实践经验与实际情况制定各个环节的运营策略，拥有互联网金融行业圈内丰富的营销资源和人脉。参与365储蓄家平台的搭建并根据运营战略制定运营策略及运营团队的管理工作。
					</p>

				</div>
			</div>
		</div>
	</div>
	<!--<div class="aboutContent">
		<div class="aboutData">
			<div class="aboutDataCon">
				<div class="aboutDataCon1">
					<div class="person3" ></div>
					<p class="personIntr" style="font-size:18px;"><span class="nameStyle">王育科：  风控总监 </span><br/>曾经就职于小贷，担保等金融机构，具有专业的金融行业风控管理和数据分析经验，掌握个人信贷风险控制、数据建模分析、业务发展战略、市场分析与产品开发、坏账管理以及制度建设。
					</p>

				</div>
			</div>
		</div>
	</div>-->
	<div class="aboutDataBottom"></div>
	<div class="aboutContent">
		<div class="aboutData">
			<div class="teamAptitude1">
			</div>
			<!--<div class="teamAptitude3">
			</div>-->
			<div class="teamAptitude2">
			</div>
			<!--<div class="yzbg1">
			</div>
			<div class="yzbg2">
			</div>-->
		</div>
	</div>
</div>
	  <!--<div class="aboutBanner">-->
	  	<!--<div><img src="resource/images/about/teamAptitude1.jpg"></div>-->
	  	<!--<div><img src="resource/images/about/teamAptitude2.jpg"></div>-->
	  <!--</div>-->
	  <!--<div class="aboutBottom">-->
	  	<!---->
	  	<!--<div class="aboutBottomLeft">-->
	  		<!--<div class="aboutLeft">-->
	  			<!--<img src="resource/images/about/aboutLeft.png">-->
	  		<!--</div>-->
	  	<!--</div>-->
	  	<!--<div class="aboutBottomRight">-->
	  		<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
  <!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
    <!--<meta name="keywords" content="百度地图,百度地图API，百度地图自定义工具，百度地图所见即所得工具" />-->
    <!--<meta name="description" content="百度地图API自定义地图，帮助用户在可视化操作下生成百度地图" />-->
    <!--<title>百度地图API自定义地图</title>-->
  <!--</head>-->

  <!--<body>-->
    <!--&lt;!&ndash;百度地图容器&ndash;&gt;-->
    <!--<div style="width:100%;height:418px;border:#ccc solid 1px;font-size:12px" id="map"></div>-->
  <!--</body>-->
  <!--<script type="text/javascript">-->
    <!--//创建和初始化地图函数：-->
    <!--function initMap(){-->
      <!--createMap();//创建地图-->
      <!--setMapEvent();//设置地图事件-->
      <!--addMapControl();//向地图添加控件-->
      <!--addMapOverlay();//向地图添加覆盖物-->
    <!--}-->
    <!--function createMap(){ -->
      <!--map = new BMap.Map("map"); -->
      <!--map.centerAndZoom(new BMap.Point(120.125044,30.336076),15);-->
    <!--}-->
    <!--function setMapEvent(){-->
      <!--map.enableScrollWheelZoom();-->
      <!--map.enableKeyboard();-->
      <!--map.enableDragging();-->
      <!--map.enableDoubleClickZoom()-->
    <!--}-->
    <!--function addClickHandler(target,window){-->
      <!--target.addEventListener("click",function(){-->
        <!--target.openInfoWindow(window);-->
      <!--});-->
    <!--}-->
    <!--function addMapOverlay(){-->
    <!--}-->
    <!--//向地图添加控件-->
    <!--function addMapControl(){-->
      <!--var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});-->
      <!--scaleControl.setUnit(BMAP_UNIT_IMPERIAL);-->
      <!--map.addControl(scaleControl);-->
      <!--var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});-->
      <!--map.addControl(navControl);-->
      <!--var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});-->
      <!--map.addControl(overviewControl);-->
    <!--}-->
    <!--var map;-->
      <!--initMap();-->
  <!--</script>-->
<!--</html>-->

	  	<!--</div>-->
	  	<!---->
	  <!--</div>-->
<!--</div>-->

<!--尾部-->

<div ng-include="'templates/layout/bottom.html'"></div>
</div>
<!--尾部结束--><!--footer end-->
</div>
