<!--头部-->
<div ng-include="'templates/layout/top.html'"></div>
<!--头部结束-->
<style>
	body {
		font-family: "Microsoft YaHei", "微软雅黑" !important;
	
	}
.banner_top{
    height: 385px;
    margin-top: 90px;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
}

.img_one {
    width: 1920px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}
   .banner img{ display: inline-block; width: 100%; height: 100%;}
    .con_txt{
        width: 1200px;
        height: 226px;
        margin: 0 auto;
        margin-top: 49px;
    }
    .txt_img{
        width:909px;
        height: 265px;
        margin: 0 auto;
    }
    .txt_img img{
        display: inline-block;
        margin-top: 34px;
    }
    .liucheng{
        width: 1007px;
        height: 380px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .liucheng ul{
        height: 190px;
        text-align: center;
    }
    .liucheng li{
        float: left;
        text-align: center;
    }
    .guidebanner1{
    	background: url(../../resource/images/noviceExpress/banner1.jpg) no-repeat center center;
    	height:400px;
    	
    }
    .guidebanner2{
    	background: url(../../resource/images/noviceExpress/banner2.jpg) no-repeat center center;
    	height:500px;	
    }
     .guidebanner3{
    	background: url(../../resource/images/noviceExpress/banner3.jpg) no-repeat center center;
    	height:370px;	
    }
    .guidebanner4{
    	background: url(../../resource/images/noviceExpress/banner4.jpg) no-repeat center center;
    	height:599px;	
    }
    .guidebanner5{
    	background: url(../../resource/images/noviceExpress/banner5.jpg) no-repeat center center;
    	height:370px;	
    }
     .guidebanner6{
    	background: url(../../resource/images/noviceExpress/banner6.jpg) no-repeat center center;
    	height:627px;	
    }
    .jumpBtn{
    	width: 100%;
    	
    	display: inline-block;
    	margin-top: 540px;
    	
    }
    .jumpBtn a{
    	width: 180px;
    	height: 50px;
    	margin: 0px auto;
    	text-align: center;
    	line-height: 50px;
    	background: #ff0000;
    	cursor: pointer;
    	font-size: 20px;
    	color: #fff;
    	display: block;
    	border-radius: 5px;
    }
</style>
<div class="guidebanner1">
	
</div>
<div class="guidebanner2">
	
</div>
<div class="guidebanner3">
	
</div>
<div class="guidebanner4">
	
</div>
<div class="guidebanner5">
	
</div>
<div class="guidebanner6">
	<div class="jumpBtn">
		<a href="/register">我要注册</a>
	</div>
</div>
<!--<div class="banner_top">
    <img class="img_one" src="resource/images/activity_new/banner.png">
</div>
<div class="con_txt">
    <span class="txt_img"><img src="resource/images/activity_new/txt01.png"></span>
</div>
<div class="con_txt" style="height: 365px">
    <img src="resource/images/activity_new/txt02.png">
    <div class="txt_img" >
        <img src="resource/images/activity_new/1111_04.png">
    </div>
</div>
<div class="con_txt" style="margin-top: 0; height: 473px;">
    <img src="resource/images/activity_new/txt03.png">
    <div class="liucheng">
        <ul>
            <li><a href="#" style="margin-left: 135px;"><img src="resource/images/activity_new/liucheng_img05.png"></a>
            </li>
            <li><a href="#"><img src="resource/images/activity_new/1111_24.png"></a></li>
            <li><a href="#"><img src="resource/images/activity_new/liucheng_img01.png"></a></li>
            <li><a href="#"><img src="resource/images/activity_new/1111_26.png"></a></li>
            <li><a href="#"><img src="resource/images/activity_new/liucheng_img02.png"></a></li>
        </ul>
        <ul>
            <li style="margin-left: 296px;"><a href="#"><img src="resource/images/activity_new/liucheng_img03.png"></a>
            </li>
            <li style="margin-left: 158px;"><a href="#"><img src="resource/images/activity_new/liucheng_img04.png"></a>
            </li>
        </ul>
    </div>
</div>
<div class="con_txt" style="margin-top: 50px; height: 520px;">
    <img src="resource/images/activity_new/txt04.png">
    <div style="margin-top: 20px;">
        <div class="zijin_left" style="float: left; margin-left: 90px;"><img
                src="resource/images/activity_new/zijin.png"></div>
        <div class="zijin_right" style="float: left;"><img src="resource/images/activity_new/1111_29.png"></div>
    </div>
</div>
<div class="con_txt" style="margin-top:50px; height: 176px;">
    <img src="resource/images/activity_new/txt05.png">
</div>
<div class="con_txt" style="margin-top: 0;height: 176px;">
    <img src="resource/images/activity_new/txt06.png">
</div>
<div class="con_txt" style="margin-top: 0; height: 260px; margin-bottom: 30px;">
    <img src="resource/images/activity_new/txt07.png">
</div>
<div class="con_txt" style="margin-top: 0; height: 260px; margin-bottom: 30px;">
    <img src="resource/images/activity_new/txt08.png">
</div>
<div class="con_txt" style="margin-top: 0; height: 260px; margin-bottom: 30px;">
    <img src="resource/images/activity_new/txt09.png">
</div>-->
<!--尾部-->
<div ng-include="'templates/layout/bottom.html'"></div>
<!--尾部结束-->