<link rel="stylesheet" href="resource/css/safeEnsure.css" type="text/css">
<div ng-include="'templates/layout/top.html'"></div>
<div class="banner">
    <!--<img class="banner_img" src="resource/images/safeEnsure/banner1.jpg">-->
</div>
<div class="safeEnsure">
     <div class="divwrap">
     	  <ul>
     	  	<li>
     	  		 <div class="divLi divLi1">
     	  		 	   <div class="divImg1 divText wow bounceInLeft">
     	  		 	   	  	<img src="resource/images/safeEnsure/divImg1.png"> 
     	  		 	   </div>
     	  		 	   <div class="divImg2 wow bounceInRight">
     	  		 	   	<img src="resource/images/safeEnsure/divImg2.png"> 	      
     	  		 	   </div>
     	  		 </div>
     	  	</li>
     	  	<li >
     	  		 <div class="divLi divLi2">
     	  		 	    <div class="divImg3 divText wow bounceInLeft">
     	  		 	   	  	<img src="resource/images/safeEnsure/divImg3.png"> 
     	  		 	   </div>
     	  		 	   <div class="divImg4 wow bounceInRight">
     	  		 	   	<img src="resource/images/safeEnsure/divImg4.png"> 	      
     	  		 	   </div>
     	  		 </div>
     	  	</li>
     	  	<li>
     	  		 <div class="divLi divLi3">
     	  		 	   <div class="divImg5 divText wow bounceInLeft">
     	  		 	   	  	<img src="resource/images/safeEnsure/divImg5.png"> 
     	  		 	   </div>
     	  		 	   <div class="divImg6 wow bounceInRight">
     	  		 	   	<img src="resource/images/safeEnsure/divImg6.png"> 	      
     	  		 	   </div>
     	  		 </div>
     	  	</li>
     	  </ul> 
     </div>
     <!--<div class="divBtn">
     	<a href="/investment">开始理财</a>
     </div>-->
</div>
<div ng-include="'templates/layout/bottom.html'"></div>

<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		new WOW().init();
	};
</script>