<!--<link rel="stylesheet" href="resource/css/userSafeCenter.css">-->
<!--头部-->
<div ng-include="'templates/layout/top.html'"></div>
<!--头部结束-->
<!--样式-->
<style>
	body {
		font-family: "Microsoft YaHei", "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif !important;
	}
	
	a {
		text-decoration: none;
	}
	
	* {
		padding: 0;
		margin: 0;	
	}
	
	.modifyPassword{
	width: 334px;
	margin: 0px auto;
	/*display: none;*/
}
.findPasswordDiv .inputGroup{
	margin-bottom: 15px;
	border: 1px solid #2c71bc;
	border-radius: 5px;
	position: relative;
}

.findPasswordDiv .inputGroup span{
    display: inline-block;
    height: 45px;
    width: 45px;
    position: absolute;
    /*top: 1px;
    left: 1px;*/
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
    border-right: 1px solid #2c71bc;
   }
   
 .findPasswordDiv li .span1{
	 background: url(resource/images/login/password.png) no-repeat center center #2c71bc;
	  height: 45px;
    width: 45px;
}

.findPasswordDiv .passwordInput{
	display: block;
    width: 98%;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    /*background-color: #fff;
    background-image: none;*/
   background: transparent;
    height: 45px;
    border: 0px;
    text-indent: 60px;
    /*border: 1px solid #ededed;
    margin-bottom: 15px;
    
    border-radius: 4px;
    -webkit-border-radius: 4px;*/
}
.findPasswordDiv .verifyCodeBg{
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
}
.findPasswordDiv .verifyCode{
	float: left;
    width: 210px;
    display: block;
    font-size: 14px;
    line-height: 1.428571429;
    height: 45px;
    color: #555;
    vertical-align: middle;
   
    background-image: none;
   
}

.findPasswordDiv .verifyCode input{
	 background-color:transparent;
	 width: 98%;
	  border: 1px solid #2c71bc;
    text-indent: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	line-height: 1.428571429;
    height: 45px;
    vertical-align: middle;
   
}

.findPasswordDiv .verifyImg{
	 float: right;
	 width: 106px;
	 height: 45px;
}

 .findPasswordDiv li .verifyImg img{
	padding: 0px;
	margin: 0px;
	width: 106px;
	 height: 45px;
	 vertical-align: top;
	 border: 0px;
}

.findPasswordDiv .phoneCodeBg
     {
     	position: relative;
     }
     
.findPasswordDiv .phoneCode{
	
	border: 1px solid #2c71bc;
	width: 210px;
	border-radius: 5px;
	position: relative;
}

.findPasswordDiv .phoneCode span{
    display: inline-block;
    height: 45px;
    width: 45px;
    position: absolute;
    /*top: 1px;
    left: 1px;*/
    border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
    border-right: 1px solid #2c71bc;
   }
   
.findPasswordDiv li .span2{
	 background: url(resource/images/login/phone.png) no-repeat center center #2c71bc;
	  height: 45px;
    width: 45px;
}

.findPasswordDiv li .span3{
	 background: url(resource/images/login/userIcon.png) no-repeat center center #2c71bc;
	  height: 45px;
    width: 45px;
}


 .findPasswordDiv .phoneCode input{
     	
     	display: block;
    width: 98%;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    height: 45px;
    border: 0px;
    text-indent: 60px;
     	
     }
 .findPasswordDiv .verifySms{
     	 position: absolute;
        top: 0px;
        right: 0px;
        width: 100px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background: #2c71bc;
        border-radius: 5px;
        font-size: 16px;
        color: #fff;
     }
     
   .findPasswordDiv  .verifySms a{
     	 
        width: 100px;
        height: 45px;
        line-height: 45px;
        text-align: center;
       display: inline-block;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
     }
 
.findPasswordDiv .passwordBtn{
	width: 228px;
	margin: 35px auto 45px auto;
	height: 45px;
	text-align:center;
	line-height: 45px;
	color: #fff;
	font-size: 16px;
	background: #2c71bc;
	border-radius: 5px;
	

}
</style>

<div class="" style="height: 630px;min-width: 1200px;background-color: #fff;overflow: hidden; margin:0px auto;padding-top: 90px;">
	<div class="findPasswordDiv">
		<ul>
			<li style="border: 0px;">
				<div class="modifyPassword">
					<div class="inputGroup">
						<span class="span3"></span>
						<input type="text" class="passwordInput" ng-model="find.phone" placeholder="请输入手机号码" autocomplete="new-password" name="phone">
					</div>
					<div class="verifyCodeBg">
						<div class="verifyCode">
							<input type="text" ng-model="imgCode" placeholder="请输入图片验证码" autocomplete="new-password" name="imgCode">
						</div>
						<div class="verifyImg"><img id="verificationCode" src="" ng-click="changeVerificationCode()"></div>

					</div>
					<div class="phoneCodeBg" style="margin-bottom: 15px;" data-rel="r_verifyCode" data-container="body" data-toggle="popover" data-content="验证码不能为空">
						<div class="phoneCode"><span class="span2"></span><input ng-model="find.code" type="text" autocomplete="new-password" name="code" placeholder="请输入验证码"></div>

						<div class="verifySms">
							<a ng-click="sendSms()">获取</a>
						</div>
					</div>
					<div class="phoneCodeBg" style="margin-bottom: 15px; display: none;" data-rel="r_verifyCode" data-container="body" data-toggle="popover" data-content="验证码不能为空">
						<div class="phoneCode"><span class="span2"></span><input  type="text" autocomplete="new-password" name="code" placeholder="请输入验证码"></div>

						<div class="verifySms">
							<a ng-click="sendSms()">获取</a>
						</div>
					</div>
					
					<div class="inputGroup">
						<input type="password" name="password1" value="" style="display:none;" autocomplete="off">
						<span class="span1"></span>
						<input type="password" class="passwordInput" name="password1" ng-model="find.pwd1" autocomplete="new-password" placeholder="请输入6-20位登录密码">
					</div>
					<div class="inputGroup">
						<span class="span1"></span>
						<input type="password" class="passwordInput" ng-model="find.pwd2" autocomplete="new-password" placeholder="再次输入登录密码">
					</div>
					<div class="passwordBtn" ng-click="findPassword()">
						找回密码
					</div>
				</div>
			</li>
		</ul>
	</div>
	
</div>

<!--尾部-->
<div ng-include="'templates/layout/bottom.html'"></div>
<!--尾部结束-->